#section7 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.profilePic {
  position: relative;
  width: 30em;
  height: 25rem;
  overflow: hidden;
}

.profilePic img {
  object-fit: cover;
  object-position: 0% 12%;
}

@media (max-width: 520px) {
  .profilePic {
    width: 90%;
    height: 18rem;
  }
}
