#section4 {
  width: 100%;
  height: 350vh;
  position: relative;
}
.imageWrapper {
  position: sticky;
  overflow: hidden;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
}
.texts {
  display: flex;
  mix-blend-mode: difference;
  width: 50vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.texts p {
  font-family: sans-serif;
  font-size: 1.6vw;
  font-weight: 100;
  color: white;
}

@media (max-width: 1300px) {
  .texts {
    width: 80%;
  }
  .texts p {
    font-size: 3.5vh;
  }
}
@media (max-width: 900px) {
  .texts {
    width: 90%;
  }

  .texts p {
    font-size: 2.9vh;
  }
}

@media (max-width: 500px) {
  #section4 {
    height: 400vh;
  }
  .texts {
    width: 90%;
  }

  .texts p {
    font-size: 2.3vh;
  }
}
