.preloader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  background: white;
  z-index: 99999999999999;
}

.preLoaderTxt {
  position: relative;
  z-index: 10;
  color: green;
  font-size: 2vw;
  font-weight: bold;
  pointer-events: none;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1vw;
}
.preLoaderTxt p:last-child {
  right: 41%;
}
.preLoaderTxt p:first-child {
  left: 41%;
}
.preLoaderTxt p {
  position: absolute;
  mix-blend-mode: difference;
}
.preloader img {
  width: 15vw;
  height: 20vw;
  object-fit: cover;
  position: absolute;
  right: 2vw;
  bottom: 12vw;
}
